.my-custom-toast {
  width: 500px;
}

.my-custom-progress-bar {
  background: linear-gradient(to right, #e6afff, #f30923, #e99aff, #e10e40) !important;
}

.my-custom-toast-cart {
  width: 500px;
}

.my-custom-progress-bar-cart {
  background: linear-gradient(to right, #fcf7ff, #091cf3, #fdf8ff, #0e38e1) !important;
}